<div id="donate" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          <!-- Give Now. <span class="span_h2"> Bitch.</span> -->
          We believe that you're awesome because trunk yeah and that <span class="span_h2"> with your help we can change the world.</span> Please give now to support The Elephant Collective.
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="center">
        {% include donate_button.html text="Donate" class="btn-large"%}
      </div>
    </div>
    <div class="row">
      <div  class="col s12">
        <p class="center">
          The Elephant Collective is a New Orleans based nonprofit and <span class="span_h2">federal 501(c)(3) corporation.</span>
          <br>
          We rely on the support of our community to fund our projects so we can  <span class="span_h2"> Dream Bigger</span> together.
        </p>
      </div>
    </div>
  </div>
</div>
