<div id="featured" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2" markdown="1">
          **The Elephant Collective Presents:**
          <br>
          Dirty Dimanche Festiball
          <br>
          Crescent Park - Mandeville Wharf
          <br>
          **Sunday, March 3rd 2pm-10pm**
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m2 center offset-m4 margin-bottom">
        {% include btn.html
        text="Facebook"
        icon="event"
        href="https://bit.ly/dirtydimanche"
        class="btn-large"%}
      </div>
      <div class="col s12 m2 center">
        {% include btn.html
        text="Get Tickets!"
        icon="shopping_cart"
        href="https://bit.ly/dirtydimanchetickets"
        class="btn-large"%}
      </div>
    </div>
    <div class="row">
      <div  class="col s12 m8 offset-m2">
        <h5 class="center text_h5">
          Join The Elephant Collective & many of your favorite krewes for a raucous, wild, wacky, and weird Sundi-Gras. Grab your toys, get your dancing shoes, and get down & dirty with us! Floats, contraptions, DJ carts, performers, brass bands, impromptu parades, bigger parades, dueling parades, parades on the ceiling, and more!
        </h5>
      </div>
    </div>
    <div class="row">
      {% include project.html
      title="Collaborate"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_085.jpg"
      content="Krewes, Kontraptions, Bands, Musicians, DJs, Performers, Entertainers, and You!"
      body="Dirty Dimanche will feature art. floats, music, and performances from different groups around the city. Art can be any theme to be accepted. Now is the time to show off your creativity! Grants will be given to those that are creating new pieces (sculptural or visual art), performances (movement or musical), or transportation of pre-existing sculptures, floats, etc."
      link="Submit your proposal!"
      href="/events/dirtyd/collaborate"
      %}
      {% include project.html
      title="Volunteer"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_028.jpg"
      content="Herd, assemble! We need your help to make this thing happen!"
      body="We are in this together. When you help one of us succeed, you help all of us succeed. By volunteering with the collective, you gain the chance to make a difference through the creation of art and a judgement free, playful environment to expand your own horizons. You'll get a free ticket and free drinks in exchange for 6+ hours of your time."
      link="Sign up to Volunteer!"
      href="/events/dirtyd/volunteer"
      %}
      {% include project.html
      title="Staff"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_075.jpg"
      content="Want to make the event happen? Want to get paid? Want to have a ball doing it?"
      body="We are seeking a team of enthusiastic and responsible leaders to coordinate our volunteers into creating a new magical atmosphere for this event. All those submitting must be willing to be responsible for setting the space up and curating the installations, and seeing them through to completion. Each of these positions will be paid."
      link="Apply Now!"
      href="/events/dirtyd/staff"
      %}
    </div>
  </div>
</div>
