<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container">
    <div class="row">
      <div class="col l3 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li>
            <a class="white-text" href="https://www.facebook.com/elephantcollective">
              <i class="small fa fa-facebook-square white-text"></i> Facebook
            </a>
          </li>
          <li>
            <a class="white-text" href="https://github.com/joashp">
              <i class="small fa fa-instagram-square white-text"></i> Instagram
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright default_color">
    <div class="container">
      Made by <a class="white-text" href="http://elephantcollective.org">The Elephant Collective</a>. 2018
    </div>
  </div>
</footer>
