<div id="gallery" class="slider scrollspy">
  <ul class="slides">
    {% for i in (1..9) %}
    <li>
      <img class=""
           src="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_00{{ i }}.jpg">
      <div class="caption left-align">
      </div>
    </li>
    {% endfor %}
    {% for i in (10..99) %}
    <li>
      <img class=""
           src="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_0{{ i }}.jpg">
      <div class="caption left-align">
      </div>
    </li>
    {% endfor %}
    {% for i in (100..119) %}
    <li>
      <img class=""
           src="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_{{ i }}.jpg">
      <div class="caption left-align">
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
