<div id="intro" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          The Elephant Collective believes <span class="span_h2"> everyone is an artist</span> and community driven art can <span class="span_h2"> unify the world.</span>
        </h2>
      </div>
    </div>
    <!-- <div class="row"> -->
    <!--   <div  class="col s12 m8 offset-m2"> -->
    <!--     <h5 class="center text_h5"> -->
    <!--       The Elephant Collective 501(c)3 is a community development group that improves economic opportunities and cultural engagement in the Greater New Orleans region through <span class="span_h5">public art & arts education.</span> -->
    <!--     </h5> -->
    <!--   </div> -->
    <!-- </div> -->
    <div class="row">
      {% include intro_item.html
      icon="flash_on"
      title="Collaborative Power of Community"
      body="Our community values creative cooperation and collaboration. We honor the strength and dignity inherent in overcoming personal flaws & interpersonal differences in the pursuit of the highest good for all. We respect each other and what we create together."%}
      {% include intro_item.html
      icon="lightbulb_outline"
      title="Dream Bigger"
      body="No person, idea, or action is too small or too big to matter. We intentionally break down the barriers within ourselves and our society that tell us we are not good enough, or worth enough, to fulfill our wildest dreams. We intentionally amplify our imagination and everything we do. We consistently push ourselves to play, laugh, dream, and grow well beyond our comfort zones."%}
      {% include intro_item.html
      icon="local_florist"
      title="Environmental & Personal Sustainability"
      body="Every person agrees to care for themselves, to do their civic duty in order to keep our community safe,healthy, and commits to never using more than they need while replenishing what they do use. We respect the land and waters we live on, understand our impact on them, and do our best to keep our impact as low as possible."
      %}
    </div>
    <div class="row">
      {% include intro_item.html
      icon="group"
      title="Inclusion & Accessibility"
      class="offset-m2"
      body="Anyone may be a part of The Elephant Collective! We welcome everyone, and in doing so we recognize that all people face different hardships which could limit their participation. Our community believes in access for all while understanding that access may mean different things for different people. We meet people where they are and respect where they come from."%}
      {% include intro_item.html
      icon="done"
      title="Participatory Consent"
      body="Our community is built on respecting everyone’s right to choose what they do or do not do. Each person, and The Elephant Collective as a whole, agrees to be honest about their intentions, actions, and needs. We commit to congruous words and actions."%}
    </div>
  </div>
</div>
