<div class="navbar-fixed">
  <nav id="nav_f" class="default_color" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" id="logo-container" class="brand-logo">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#intro">About</a></li>
          <li><a href="#work">Projects</a></li>
          <li><a href="#participate">Participate</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact</a></li>
          {% include donate_button.html %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </div>
  </nav>
</div>
<ul id="nav-mobile" class="sidenav">
  <li><a href="#intro">About</a></li>
  <li><a href="#work">Projects</a></li>
  <li><a href="#participate">Participate</a></li>
  <li><a href="#donate">Donate</a></li>
  <li><a href="#team">Team</a></li>
  <li><a href="#contact">Contact</a></li>
</ul>
