<div id="participate" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          <span class="span_h2">
            Want to get involved?
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      {% include project.html
      title="Volunteer"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/cheshire_smile.jpg"
      link="Find out more"
      href="/interested"
      %}
      {% include project.html
      title="The Elephant Room Resident Artists (TERRA)"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/alice.jpg"
      link="Find out more"
      href="/terra"
      %}
      {% include project.html
      title="Collaborate"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/absinthe_bar.jpg"
      link="Find out more"
      href="/collaborate"
      %}
    </div>
  </div>
</div>
