<div id="participate" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          We love to make things!
          <span class="span_h2">
            Want to get involved?
          </span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        {% include mailing_list.html %}
      </div>
    </div>
    <div class="row">
      {% include project.html
      title="Volunteer"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_075.jpg"
      body="We are in this together. When you help one of us succeed, you help all of us succeed. By volunteering with the collective, you gain the chance to make a difference through the creation of art and a judgement free, playful environment to expand your own horizons. "
      link="Tell us more about you interests!"
      href="/interested"
      %}
      {% include project.html
      title="Resident Artists (TERRA)"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_028.jpg"
      body="The Elephant Collective offers local artists the opportunity to operate in residence at The Elephant Room’s collaborative fabrication facility. This program offers specialized, individualized attention from all members of The Elephant Collective staff to encourage multifaceted artistic growth, access to the resources of our business incubator, and use of materials donated to the collective for personal projects. TERRA membership is by application only. Applications will be reviewed by the membership committee."
      link="Apply Now!"
      href="/terra"
      %}
      {% include project.html
      title="Collaborate"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_085.jpg"
      body="The Elephant Collective specializes in collaboration. Although we are open to venue rentals and custom fabrication, we much prefer to work on events or art projects as a team. We value all creative input and the expansion of our community. Collaborating with The Elephant Collective is an opportunity for you and us to become more than the sum of our parts. "
      link="Tell us more about your project!"
      href="/collaborate"
      %}
    </div>
  </div>
</div>
