<div class="col s12 m4 l4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ include.img }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        {{ include.title }}
        <i class="material-icons right">more_vert</i>
      </span>
      {% if include.href %}
      <p>
        <a href="{{ include.href }}">{{ include.link }}</a>
      </p>
      {% endif %}
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{ include.title }}
        <i class="material-icons right">close</i>
      </span>
      <p>{{ include.body }}</p>
    </div>
  </div>
</div>
