<div id="sponsors" class="section scrollspy">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          Our dreams would be much smaller without the <span class="span_h2"> generous support of our sponsors.</span>
        </h2>
      </div>
      {% include sponsor.html
      logo="/assets/img/sponsors/abita_square.jpg"
      title="Abita Brewing"
      class="offset-m3"
      %}
      {% include sponsor.html
      logo="/assets/img/sponsors/ONOR_round.png"
      title="New Orleans Rum"
      %}
      {% include sponsor.html
      logo="/assets/img/sponsors/lucidlogo.jpg"
      title="Lucid Absinthe"
      %}
    </div>
  </div>
</div>
