<div class="col s12 m4">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{{ include.img }}">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">
        {{ include.name }}
        <br/>
        <small><em><a class="">{{ include.title }}
      </a></em></small></span>
      {% if include.email %}
      {% include social_icon.html
      href=include.email
      icon="fa-envelope"
      %}
      {% endif %}
      {% if include.website %}
      {% include social_icon.html
      href=include.website
      icon="fa-link"
      %}
      {% endif %}
      {% if include.facebook %}
      {% include social_icon.html
      href=include.facebook
      icon="fa-facebook-square"
      %}
      {% endif %}
      {% if include.instagram %}
      {% include social_icon.html
      href=include.instagram
      icon="fa-instagram"
      %}
      {% endif %}
      {% if include.linkedin %}
      {% include social_icon.html
      href=include.linkedin
      icon="fa-linkedin-square"
      %}
      {% endif %}
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">
        {{ include.name }}
        <i class="material-icons right">close</i>
      </span>
      <p>
        {{ include.bio }}
      </p>
    </div>
  </div>
</div>
