<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      {% include team_member.html
      name="Dylan Butman"
      title="Executive Director"
      img="/assets/img/sample/avatar1.png"
      email="mailto:dylan@elephantcollective.org"
      facebook="https://www.facebook.com/dylan.butman"
      instagram=""
      linkedin=""
      bio="Dylan Butman is a interactive technologist who discovered that his best self exists as a developer not just of technology, but of creative ideas and organizations. He works artistically with generative systems - organisms that exist in code and respond to their environments to reflect the inherent and emergent complexity of human, environmental, and physical life."
      %}
      {% include team_member.html
      name="Stacey Spectacular"
      title="Creative Director"
      img="/assets/img/sample/avatar2.png"
      email=""
      facebook=""
      instagram=""
      twitter=""
      linkedin=""
      %}
      {% include team_member.html
      name="Karina Stanton"
      title="Shop Fairy"
      img="/assets/img/sample/avatar3.png"
      email=""
      facebook=""
      instagram=""
      twitter=""
      linkedin=""
      %}
      {% include team_member.html
      name='Rich "Dusty Knuckles" Whitney'
      title="Shop Wizard"
      img="/assets/img/sample/avatar4.png"
      email=""
      facebook=""
      instagram=""
      twitter=""
      linkedin=""
      %}
      {% include team_member.html
      name="Dr. Jedediah Walls"
      title="Business Development Engineer"
      img="/assets/img/sample/avatar1.png"
      email=""
      facebook=""
      instagram=""
      twitter=""
      linkedin=""
      %}
    </div>
  </div>
</div>
