<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      {% include team_member.html
      name="Scarlet Dame"
      title="Cofounder, Executive Director"
      img="/assets/img/team/scarlet.jpg"
      website="http://pleasetrythisathome.com"
      email="mailto:dylan@elephantcollective.org"
      instagram="https://www.instagram.com/scarletdame"
      bio="Scarlet Dame is a interactive technologist who discovered that her best self exists as a developer not just of technology, but of creative ideas and organizations. She works artistically with generative systems - organisms that exist in code and respond to their environments to reflect the inherent and emergent complexity of human, environmental, and physical life."
      %}
      {% include team_member.html
      name="Stacey Spectacular"
      title="Cofounder, Creative Director"
      img="/assets/img/team/stacey.jpg"
      email="mailto:stacey@elephantcollective.org"
      facebook="https://www.facebook.com/sspectacularr"
      instagram="https://www.instagram.com/sspectacularr"
      linkedin="https://www.linkedin.com/in/stacey-spectacular-613b5872/"
      bio="Stacey Spectacular is a multifaceted artist working in circus arts, performance art, event production, costume design, and several different healing modalities focused on the body and its energy field. Inspired by the fantastical world of circus, the extravagance of the Baroque period, the simplicity of the natural world, and the mechanism of the human body, her work employs juxtaposition as commentary highlighting the breadth and depth of human emotion.<br><br> Her passionate pursuit of the arts is the result of a past darkened by trauma and incest abuse, propelling her to communicate the magic, mystery, and beauty of the healing journey to the masses as her own way of encouraging others to fight their demons and celebrate the complexities life has to offer."
      %}
    </div>
  </div>
</div>
