<div class="section scrollspy" id="team">
  <div class="container">
    <h2 class="header text_b"> Our Team </h2>
    <div class="row">
      {% include team_member.html
      name="Dylan Butman"
      title="Cofounder, Executive Director"
      img="/assets/img/team/dylan.jpg"
      website="http://pleasetrythisathome.com"
      email="mailto:dylan@elephantcollective.org"
      facebook="https://www.facebook.com/dylan.butman"
      instagram="https://www.instagram.com/pleasetrythisathome"
      linkedin="https://www.linkedin.com/in/dylan-butman-4a26a27b/"
      bio="Dylan Butman is a interactive technologist who discovered that his best self exists as a developer not just of technology, but of creative ideas and organizations. He works artistically with generative systems - organisms that exist in code and respond to their environments to reflect the inherent and emergent complexity of human, environmental, and physical life."
      %}
      {% include team_member.html
      name="Stacey Spectacular"
      title="Cofounder, Creative Director"
      img="/assets/img/team/stacey.jpg"
      email="mailto:stacey@elephantcollective.org"
      facebook="https://www.facebook.com/sspectacularr"
      instagram="https://www.instagram.com/sspectacularr"
      linkedin="https://www.linkedin.com/in/stacey-spectacular-613b5872/"
      bio="Stacey Spectacular is a multifaceted artist working in circus arts, performance art, event production, costume design, and several different healing modalities focused on the body and its energy field. Inspired by the fantastical world of circus, the extravagance of the Baroque period, the simplicity of the natural world, and the mechanism of the human body, her work employs juxtaposition as commentary highlighting the breadth and depth of human emotion.<br><br> Her passionate pursuit of the arts is the result of a past darkened by trauma and incest abuse, propelling her to communicate the magic, mystery, and beauty of the healing journey to the masses as her own way of encouraging others to fight their demons and celebrate the complexities life has to offer."
      %}
      {% include team_member.html
      name="Mark Shays"
      title="Cofounder"
      img="/assets/img/team/mark.jpg"
      email="mailto:into@elephantcollective.org"
      bio=""
      %}
      {% include team_member.html
      name="Karina Stanton"
      title="Fairy ShopMother"
      img="/assets/img/team/karina.jpg"
      email="mailto:karina@elephantcollective.org"
      facebook="https://www.facebook.com/karinakatstanton"
      instagram="https://www.instagram.com/karinakatstanton"
      bio="Karina Stanton is a comprehensive artist, working in the realms of metalsmithing, woodworking, still life rendering, and oil painting. Influenced heavily by art nouveau and the modern movement of abstract minimalism, efficacy of line and form are used to inspire raw emotion and highlight object association and pre-formed meaning. She uses her popularity in the public forum to express her atypical views on how to live the abundant life, and inspire others to fill their lives with art and all the joy it brings."
      %}
      {% include team_member.html
      name='Rich "Dusty Knuckles" Whitney'
      title="Shop Wizard"
      img="/assets/img/team/dusty.jpg"
      email="mailto:dusty@elephantcollective.org"
      facebook="https://www.facebook.com/dusty.knuckles1"
      %}
      {% include team_member.html
      name="Dr. Jedediah Walls"
      title="Business Development Engineer"
      img="/assets/img/team/jed.jpg"
      email="jed@elephantcollective.org"
      website="http://www.jedwalls.com"
      facebook=""
      twitter="https://twitter.com/jedediahwalls"
      linkedin="https://www.facebook.com/jedwallsphd/"
      bio="Dr. Jedediah Walls is a Media Psychologist who looks at how art and technology can help people live happier, healthier lives. Media Psychology is a brand new Division from the American Psychological Association that looks at how technology and media affect human behavior. Dr. Walls combines Media Psychology with art in order to help people grow with the most innovative approaches to health and community development. He has served on the telehealth subcommittee of the American Psychological Association. As an artist in New Media and digital technologies, he works with clients through New Media, including digital photography, graphics design, Virtual Reality and 360 film."
      %}
    </div>
  </div>
</div>
