<div class="section scrollspy" id="work">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          The Elephant Collective’s mission is to <span class="span_h2"> nurture the unrealized artist within</span> by providing resources that enable the participation in and creation of <span class="span_h2">community driven interactive art.</span>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col s12 center">
        {% include mailing_list.html %}
      </div>
    </div>
    <div class="row">
      {% include project.html
      title="The Trumpeter of Truth"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/cheshire_smile.jpg"
      body="The Trumpeter of Truth is a large scale art car, with a 28 foot school bus as its base. It’s aesthetic is conceptually based on the 2001 musical-movie, The Moulin Rouge, which includes an eclectic collection of earth tones, jewel tones, bright colored lighting and mixed metal, as well as French baroque architecture and art. <br><br>The Trumpeter of Truth is a platform for the personal transformational ritual of speaking the truth of traumatic experiences and thus bringing them into the light where they can be seen in a non-threatening way. As humans, we hurt, heal, and live to tell the tale. <br><br>Healing is a journey, one we are collectively experiencing throughout our evolution, experiencing individually throughout the course of our lives, and experiencing as a planetary whole as we are faced with climate change and the threat of extinction of many species including our own. "
      link="Donate"
      href="#donate"
      %}
      {% include project.html
      title="Immersive Events"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/rabbit_hole.jpg"
      body="The Elephant Collective designs large-scale live immersive art experiences as fundraisers and a testimate to what we can create. A multitude of rooms, performers, spectacle, and interaction deliver awe-inspiring journeys through unique landscapes that propel participants to challenge their perceptions of what art can be and how to experience it.<br><br>Our events focus on the creative culture of New Orleans and inspire the participation of attendees. All art that is created for our events is funded by grants from The Elephant Collective which help sustain the artists of our community."
      link="Photo Gallery"
      href="#gallery"
      %}
      {% include project.html
      title="Classes & Education"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/main_space.jpg"
      body="We strengthen artistic minds through education and training. This means we offer classes, workshops, and other learning opportunities in order to provide a collaborative environment for artists to thrive creatively and economically."
      link="More Info"
      href="#contact"
      %}
      {% include project.html
      title="Arts Business Incubation"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/bryce/BryceEllPhotography_ElephantCollective_012.jpg"
      body="Walk in with a dream and walk out with tools, resources, and a plan. The Elephant Collective’s art incubation initiative helps artists become business pros and helps them learn how to turn their ideas into a solid business platform. We’re here to help artists succeed at becoming self-sustaining entrepreneurs that dream big and play smart. "
      link="More Info"
      href="#contact"
      %}
      {% include project.html
      title="Community Fabrication Shop"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/guillotine_crop.jpg"
      body="Ever had a dream and wanted to make something big but didn’t have the tools, space, and resources to do it? Us too! Come join us in our 11,000sqft warehouse where we have the space and tools to build everything from elaborately embellished costumes costumes to giant LED covered art cars."
      link="Get Involved"
      href="#participate"
      %}
      {% include project.html
      title="Public Art"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/alice.jpg"
      body="The creation of public installation art helps members of TEC to interact with the public in a whole new way: limitless art that people can walk in and around and immersive themselves inside of while delivering socially conscious messages to those that participate. Installation art is about making a whole new world, and TEC members are the driving force behind it."
      link="More Info"
      href="#contact"
      %}
    </div>
  </div>
</div>
