<div class="section scrollspy" id="work">
  <div class="container">
    <h2 class="header text_b">Projects</h2>
    <div class="row">
      {% include project.html
      title="The Trumpeter of Truth"
      img="/assets/img/sample/project1.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="Donate"
      href="#donate"
      %}
      {% include project.html
      title="Immersive Events"
      img="/assets/img/sample/project2.jpeg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#gallery"
      %}
      {% include project.html
      title="Classes & Education"
      img="/assets/img/sample/project3.png"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Arts Business Incubation"
      img="/assets/img/sample/project4.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Community Fabrication Shop"
      img="/assets/img/sample/project5.png"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Public Art"
      img="/assets/img/sample/project6.jpeg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
    </div>
  </div>
</div>
