<div class="section scrollspy" id="work">
  <div class="container">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          The Elephant Collective’s mission is to <span class="span_h2"> nurture the unrealized artist within</span> by providing resources that enable the participation in and creation of <span class="span_h2">community driven interactive art.</span>
        </h2>
      </div>
    </div>
    <div class="row">
      {% include project.html
      title="The Trumpeter of Truth"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/cheshire_smile.jpg"
      body="The Trumpeter of Truth is a large scale art car, with a 28 foot school bus as its base. It’s aesthetic is conceptually based on the 2001 musical-movie, The Moulin Rouge which includes an eclectic collection of earth tones, jewel tones, bright colored lighting and mixed metal, as well as French baroque architecture and art. <br><br>The Trumpeter of Truth is a platform for the personal transformational ritual of speaking the truth of traumatic experiences and thus bringing them into the light where they can be seen in a non-threatening way. As humans, we hurt, heal, and live to tell the tale. Healing is a journey, one we are collectively experiencing throughout our evolution, experiencing individually throughout the course of our lives, and experiencing as a planetary whole as we are faced with climate change and the threat of extinction of many species including our own."
      link="Donate"
      href="#donate"
      %}
      {% include project.html
      title="Immersive Events"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/rabbit_hole.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="Photo Gallery"
      href="#gallery"
      %}
      {% include project.html
      title="Classes & Education"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/main_space.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Arts Business Incubation"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/absinthe_bar.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Community Fabrication Shop"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/guillotine_crop.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
      {% include project.html
      title="Public Art"
      col="m6 l4"
      img="/assets/img/events/bigeasyalice/alice.jpg"
      body="Here is some more information about this project that is only revealed once clicked on."
      link="More Info"
      href="#"
      %}
    </div>
  </div>
</div>
